@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace BBD.BodyMonitor.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <!-- CSS files defined by Enabled Mobile Templates -->
    <link href="styles/bootstrap.css" rel="stylesheet" />
    <link href="styles/style.css" rel="stylesheet" />
    <!-- CSS files defined by the installed client-side libraries -->
@*
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />      
    <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css" />
*@
    <!-- CSS files defined by Blazor template -->
    <link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">
    <link href="css/site.css" rel="stylesheet" />
    <link href="BBD.BodyMonitor.Web.styles.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <!-- JavaScript files defined by Enabled Mobile Templates -->
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/custom.js"></script>
    <!-- JavaScript files defined by the installed client-side libraries -->
    @*
    <script src="popperjs/core/dist/cjs/popper.js"></script>
    <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="splidejs/splide/dist/js/splide.min.js"></script>
    <script src="vanilla-lazyload/dist/lazyload.js"></script>
    <script src="swup/dist/swup.cjs.js"></script>
    *@
</body>
</html>
