@page "/fetchdata"
@using BBD.BodyMonitor.Web.Data
@inject BioBalanceDetectorService BBDService

<PageTitle>Bio Balance Detector</PageTitle>

<h1>Bio Balance Detector</h1>

<p>This component demonstrates fetching data from a service.</p>
